<% if current_user.present? %>
  <div class="container">
    <div class="row pt-3 pb-3">
      <div class="col-2">
        <%= link_to 'Add', new_service_path, {:class=>"btn btn-info"} %>
      </div>
      <div class="col-10">
        <H1>Sole Agent & Service</H1>
      </div>
    </div>
    <div class="table-responsive-md">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% c=0 %>
          <% @services.each do |service| %>
            <tr>
              <td><%= c +=1 %></td>
              <td><%= service.name %></td>
              <td><%= truncate service.description, length: 160, :escape => false %></td>
              <td><%= link_to 'Show', service %></td>
              <td><%= link_to 'Edit', edit_service_path(service) %></td>
              <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <%= render 'services/index' %>
<% end %>
