<div class="container">
	<div class="row">		  
		<div class="col-md-8 pt-5">
			<div class="grid simple">
	      <div class="grid-title">
	        <h4>
	          <span class="semi-bold">Get in touch</span>
	        </h4>
	      </div>
				<p id="notice"><%= notice %></p>
			  <div class="form-row p-1">
			    <div class="col-7">
			      <%= text_field_tag :name, @guest_book.name, :class=> "form-control", :placeholder=> "Name", :disabled=> true %>
			    </div>
			    <div class="col">
			      <%= email_field_tag :email, @guest_book.email, :class=> "form-control", :placeholder=> "Email", :disabled=> true %>
			    </div>
			  </div>
			  <div class="form-row p-1">
			    <div class="col">
			      <%= text_field_tag :subject, @guest_book.subject, :class=> "form-control", :placeholder=> "Subject", :disabled=> true %>
			    </div>
			  </div>
			  <div class="form-row p-1">
			    <div class="col border p-2 m-2 rounded">
			      <%= @guest_book.comment.html_safe if @guest_book.comment.present? %>
			    </div>
			  </div>
			  <div class="form-row p-1">
			    <div class="col">
						<%= link_to 'Back', guest_books_path, class: "btn btn-secondary btn-block" %>
					</div>
			    <div class="col-8"></div>
			    <div class="col">
					</div>
				</div>
			</div>
	  </div>
    <div class="col-md-4 pt-5 ">
      <div class="grid simple">
        <div class="grid-title">
          <h4>
            <span class="semi-bold">Office Address</span>
          </h4>
        </div>
        
        <% if session[:contact].present? %>
          <p><i class="<%= session[:contact]['icon_address'] %>"></i> <%= session[:contact]['address'] %></p>
          <p><i class="<%= session[:contact]['icon_email'] %>"></i> <%= session[:contact]['email'] %></p>
          <p><i class="<%= session[:contact]['icon_phone'] %>"></i> <%= session[:contact]['phone'] %></p>
          <p><i class="<%= session[:contact]['icon_fax'] %>"></i> <%= session[:contact]['fax'] %></p>
        <% end %>
      </div>
    </div>
	</div>
</div>



