<% if current_user.present? %>
  <div class="container">
    <div class="row pt-3 pb-3">
      <div class="col-2">
        <%= link_to 'Add', new_sale_path, {:class=>"btn btn-info"} %>
      </div>
      <div class="col-10">
        <h2>Sales</H2>
      </div>
    </div>
    <div class="table-responsive-md">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% c=0 %>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= c +=1 %></td>
              <td><%= sale.name %></td>
              <td><%= truncate sale.description, length: 160, :escape => false %></td>
              <td><%= link_to 'Show', sale %></td>
              <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
              <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <%= render 'sales/index' %>
<% end %>
