<% meta_tag :title, "#{@sale.name} | Sales" %>
<% meta_tag :description, @sale.description %>
<% meta_tag :keywords, @sale.description %>

<div class="container">
	<div class="border shadow-sm p-3 mb-5 bg-white rounded">
		<div class="row pl-3">
			<h2><strong>Spare Part</strong></h2>
		</div>
		<div class="row pt-3">
		  <div class="col-md-6 pb-3">
		  	<div class="card w-100 p-2" style="width: 18rem;">
		  		<%= image_tag(@sale.image.url, alt: "Image #{@sale.name}", :class=> "card-img-top") if @sale.image? %>
				</div>
			</div>
			<div class="col-md-6">
				<H1><%= @sale.name %></H1>
				<hr>
		    <p class=" h6">
		    	<%= @sale.description.html_safe if @sale.description.present? %>
		    </p>
			</div>

		</div>

    <hr>
    <div class="row">
      <div class="col-md-2 p-1">
      	<% if current_user.present? %>
        	<%= link_to 'Back', sales_path, class: "btn btn-secondary btn-block" %>
        <% else %>
        	<%= link_to 'Back', root_path, class: "btn btn-secondary btn-block" %>
        <% end %>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2 p-1">
        <%= link_to 'Edit', edit_sale_path(@sale), class: "btn btn-primary btn-block" if current_user.present? %>
      </div>
    </div>
	</div>
</div>